[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:ryankish/kickstart-modular.nvim.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = git@github.com:ryankish/tmux.git
