[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/ryankish/kickstart-modular.nvim.git
	branch = ryan

[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = https://github.com/ryankish/tmux.git
	branch = main
